@charset "UTF-8";
section{
	width:250px;
}
#accordian {
	float: left;
	/* background: #333333; */
	width: 240px;
	height: 90%;
	margin: 0px auto 0 auto;
	/* color: white; */
	box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.6), 0 0 200px 1px
		rgba(255, 255, 255, 0.5);
	border: 2px solid yellow; 
	
}
/* 메뉴 스타일 */
#accordian h3 {
	font-size: 12px;
	line-height: 34px;
	padding: 0 10px;
	cursor: pointer;
	background: #064461;
	background: linear-gradient(#003040, #002535);
}

#accordian h3:hover {
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
}
/* 아이콘폰트 스타일 */
#accordian h3 span {
	font-size: 16px;
	margin-right: 10px;
}

#accordian li {
	list-style-type: none;
}
/* 서브메뉴 스타일 */
#accordian ul ul li a {
	/* color: white; */
	text-decoration: none;
	font-size: 11px;
	line-height: 27px;
	display: block;
	padding: 0 15px;
	-webkit-transition: all 0.15s;
	-moz-transition: all 0.15s;
	-o-transition: all 0.15s;
	-ms-transition: all 0.15s;
	transition: all 0.15s;
}

#accordian ul ul li a:hover {
	background: #003545;
	border-left: 5px solid #09c;
}
/* active 클래스 외에 것은 보이지 않게 하기 */
#accordian ul ul {
	display: none;
}

#accordian li.active ul {
	display: block;
}

#loginjw {
	width: 170px;
	background: #003545;
	color:white;
	border: none;

}
#loginjoinjw {
	width: 170px;
	background: #003545;
	color:white;
	border: none;
}

#idjw {
	width: 170px;
}

#pwjw {

	width: 170px;
}
#acephonejw{
	font-size:x-small;
	margin-right: 10px;
	font-size: 10px;
	text-align: center;
}
#toggle{
	width:50px;
	height:50px;
	font-size:20px;
	background:#333333;
	color:white;
	border: none;
	cursor: pointer;
}

footer{
	background-color:#333333;clear:both;
	height:50px;text-align:center;
	width:100%;
	padding-top:5px;
	color:white;
	position:absolute;
	bottom:0;
}

